@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/*Banner*/

.ho {
  border-bottom: 1px solid #363636 !important;
}
.vl {
  border-left: 1px solid gray;
  height: 100%;
}
.d9_look {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #e61523 !important;
  font-family: "Montserrat";
}

.pro_title_h5 {
  font-size: 30px !important;
  font-weight: bold !important;
  color: #e61523 !important;
  font-family: "Montserrat";
}

.re_look {
  color: #e61523 !important;
  text-decoration: underline;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
}

.ov_look {
  color: #e61523 !important;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: bold;
}
.order_p {
  font-family: "Montserrat";
  font-size: 16px;
  color: #e61523 !important;
}

.pro_spec {
  background-color: #fff;
  font-family: "Montserrat";
}

.about {
  color: #e61523 !important;
  font-size: 13px;
}

/*my account end */
