/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

#footer .footer-top {
  padding: 5px 0 10px 0;
  background: #fff;
  margin-bottom: 5px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #ff3232;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Times New Roman", Times, serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ff3232;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ff6868;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: red;
  background-color: #a3bce2 !important;
}

#footer .copyright {
  float: left;
  color: blue !important;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 800px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px !important;
  }
  #footer .footer-top {
    margin-bottom: 20px;
  }
  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }
}
