/*======================================
 ============== Default CSS =============
 ======================================== */

body {
  font-family: "IBM Plex Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
section {
  padding: 100px 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.bold-500 {
  font-weight: 500;
}
a {
  font-size: 15px;
  color: #e61523 !important;
  text-decoration: none;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
a:hover {
  color: red !important;
  text-decoration: none;
}
.nav-hidden-items .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}
.nav-hidden-items .form-control:focus {
  border-bottom-color: #e61523 !important;
}
.nav-hidden-items {
  display: none;
}
.sticky {
  position: fixed !important;
  /* background: red !important; */
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background: #fff !important;
  border-bottom: 1px solid #00000028 !important;
}
.sticky .nav-hidden-items {
  display: block !important;
}
.sticky .top-header-logo img {
  width: 150px !important;
}
input[type="text"] {
  font-size: 13px;
}
.top-header-leftarea .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
}
.top-header-leftarea .form-control:focus {
  border-bottom-color: #e61523 !important;
}
.top-header-leftarea .form-control:focus::placeholder {
  visibility: hidden;
}
.top-header-leftarea .form-control:hover::placeholder {
  visibility: visible;
}
.top-header-logo img {
  width: 170px !important;
}
.top-header-rightarea a {
  font-size: 12px;
  font-weight: 500;
}
.top-header-rightarea i {
  font-size: 15px;
  margin-right: 2px;
  font-weight: 500;
}
.top-cart {
  font-weight: 500;
  position: relative;
}
.cart-counter {
  position: absolute;
  top: -15px;
  left: 5px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: #e61523 !important;
  padding: 10px 12px;
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #e61523 !important;
}
.navbar-menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  justify-content: center;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  background-color: #fff;
}
.navbar-menu-heading {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  margin-bottom: 10px;
}
.navbar-menu-list2 {
  margin-left: 150px;
}
.navbar-menu-list li {
  line-height: 30px;
  font-weight: 600;
}
.nav-item:hover .navbar-menu {
  display: flex;
}
.icon-color {
  color: #e61523 !important;
}
/* Side Menu */
.sidemenu-toggle-btn {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.offcanvas-start {
  max-width: 236px !important;
}
.offcanvas-body::-webkit-scrollbar {
  display: none !important;
}
.sidemenu-header {
  background-color: #f5f5f5 !important;
  padding: 20px !important;
}
.sidemenu-dropdown-box {
  position: relative;
}
.sidemenu-header .form-control {
  border-radius: 0 !important;
  box-shadow: none !important;
  border-color: #e8e8e8 !important;
  height: 50px !important;
}
.sidemenu-header i {
  position: absolute !important;
  top: 18px !important;
  right: 15px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.sidemenu-list li a {
  display: block;
  font-weight: 600;
  color: #e61523 !important;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  text-decoration: none !important;
}
.sidebar-dropdown-btn {
  display: block;
  font-weight: 600;
}
.sidebar-dropdown-btn::after {
  font-family: "Font Awesome 5 Pro";
  content: "\f067";
  position: absolute;
  right: 0;
  font-weight: 500;
}
.sidebar-dropdown-btn:not(.collapsed)::after {
  content: "\f068";
}
.sidemenu-sublist {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 12px;
}
.sidemenu-sublist-heading {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidemenu-sublist li a {
  font-size: 13px !important;
}
.sidemenu-sublist li a {
  display: block !important;
  font-weight: normal !important;
  color: #e61523 !important;
  padding: 2px 0 !important;
  border-bottom: none !important;
}
.sidemenu-sublist-mainlink {
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 10px 0 !important;
}
.sidemenu-sublist .sidemenu-sublist-heading {
  text-transform: uppercase !important;
  font-size: 13px !important;
  color: #999 !important;
  font-weight: bold !important;
  margin: 14px 0 4px 0 !important;
}
.sidemenu-extra-links li {
  line-height: 28px !important;
}
.sidemenu-extra-links li a {
  text-decoration: none !important;
}

@media only screen and (max-width: 500px) {
  .top-header-logo img {
    width: 110px !important;
  }
  .sticky .top-header-logo img {
    width: 100px !important;
  }
}
@media only screen and (max-width: 991px) {
  .top-header-leftarea .form-control {
    width: 100px !important;
  }
  .stick-head {
    display: block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #e8e8e8;

    border-bottom: 1px solid #00000028;
  }
}
/* {
    "mode":"full","isactive": false;
  } */
